
/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}


@function inline-svg($viewBox, $color, $path) {
  $chunk: "data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='#{$viewBox}' preserveAspectRatio='xMinYMin meet'><path style='fill:#{$color}' d='#{$path}' /></svg>";
    $chunk: str-replace($chunk,'<','%3C');
    $chunk: str-replace($chunk,'>','%3E');
    $chunk: str-replace($chunk,'#','%23');  

    @return $chunk;
}



$path-chevron-right: 'M632.571 501.143l-424 424q-10.857 10.857-25.714 10.857t-25.714-10.857l-94.857-94.857q-10.857-10.857-10.857-25.714t10.857-25.714l303.429-303.429-303.429-303.429q-10.857-10.857-10.857-25.714t10.857-25.714l94.857-94.857q10.857-10.857 25.714-10.857t25.714 10.857l424 424q10.857 10.857 10.857 25.714t-10.857 25.714z';
$viewBox-chevron-right: '0 0 731 1024';
$color-chevron-right: '#ffffff';

$path-chevron-up: 'M961.714 760.571l-94.857 94.286q-10.857 10.857-25.714 10.857t-25.714-10.857l-303.429-303.429-303.429 303.429q-10.857 10.857-25.714 10.857t-25.714-10.857l-94.857-94.286q-10.857-10.857-10.857-26t10.857-26l424-423.429q10.857-10.857 25.714-10.857t25.714 10.857l424 423.429q10.857 10.857 10.857 26t-10.857 26z';
$viewBox-chevron-up: '0 0 1024 1024';
$color-chevron-up: '#ffffff';

$path-gitlab: 'M29.782 199.732L256 493.714 8.074 309.699c-6.856-5.142-9.712-13.996-7.141-21.993l28.849-87.974zm75.405-174.806c-3.142-8.854-15.709-8.854-18.851 0L29.782 199.732h131.961L105.187 24.926zm56.556 174.806L256 493.714l94.257-293.982H161.743zm349.324 87.974l-28.849-87.974L256 493.714l247.926-184.015c6.855-5.142 9.711-13.996 7.141-21.993zm-85.404-262.78c-3.142-8.854-15.709-8.854-18.851 0l-56.555 174.806h131.961L425.663 24.926z';
$viewBox-gitlab: '0 0 512 512';
$color-gitlab: '#ffffff';

$path-arrow-alt-circle-up: 'M256 504c137 0 248-111 248-248S393 8 256 8 8 119 8 256s111 248 248 248zm0-448c110.5 0 200 89.5 200 200s-89.5 200-200 200S56 366.5 56 256 145.5 56 256 56zm20 328h-40c-6.6 0-12-5.4-12-12V256h-67c-10.7 0-16-12.9-8.5-20.5l99-99c4.7-4.7 12.3-4.7 17 0l99 99c7.6 7.6 2.2 20.5-8.5 20.5h-67v116c0 6.6-5.4 12-12 12z';
$viewBox-arrow-alt-circle-up: '0 0 512 512';
$color-arrow-alt-circle-up: '#ffffff';

/*
.icon-arrow-alt-circle-up{
  background-image: url("#{inline-svg($viewBox-arrow-alt-circle-up, $color-arrow-alt-circle-up, $path-arrow-alt-circle-up)}");
  padding-right: 1rem;  
}
*/
.icon-chevron-up{
  background-image: url("#{inline-svg($viewBox-chevron-up, $color-chevron-up, $path-chevron-up)}");
  padding-right: 1rem;  
}

.icon-chevron-right{
  background-image: url("#{inline-svg($viewBox-chevron-right, $color-chevron-right, $path-chevron-right)}");
  padding-right: 1rem;  
}

.icon-after{
  background-repeat: no-repeat;
  background-position: right center; 
  background-size: auto 1.125rem;
  display: block;
  width: auto;
  ///height: 1.125rem;
  padding-right: 1.375rem;  
}

.icon{
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: auto 14px; //.875rem; rem EDGE bug!!!
  display: inline-block;
  width: auto;
  padding-left: 1.375rem; 
}

.icon-standalone{
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: 1rem 1rem; 
  display: block;
  width: 1rem; 
  height: 1.5rem; 
  padding-left: 0 !important; 
  padding-right: 0 !important; 
}

.icon-big{
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: auto 1.5rem; 
  display: inline-block;
  width: auto;
  padding-left: 2rem; 
}
