$linear-gradient-header-bg:  to bottom, rgba(22, 22, 22, 0.05) 0%, rgba(22, 22, 22, 0.25) 80%, #161616 100%;
$linear-gradient-contact-section-bg: to bottom, rgba(22, 22, 22, 0.05) 0%, rgba(22, 22, 22, 0.7) 50%, #161616 100%;
$bg:(
    7:  'Stefan-Steinbauer',
    8:  'Laura-Ramirez',
    9:  'Christian-Bisbo-Johnsen',
    10: 'Wes-Carpani',
    11: 'Stefan-Steinbauer',
    12: 'Thomas-Broeker',
    1:  'Ben-Koorengevel',
    2:  'Stefan-Steinbauer',
    3:  'Shifaaz-shamoon',
    4:   'jeremy-bishop',
    5:  'Stefan-Steinbauer',
    6:  'Laura-Ramirez',
    );


@mixin set-bg(
    $bg, 
    $linear-gradient-contact-section-bg, 
    $linear-gradient-header-bg) {

  @for $index from 1 through length($bg) {
      
    $imagefolder: nth(map-values($bg), $index);
    $month: nth(map-keys($bg), $index);
 
    .contact-section-bg.contact-section-bg-#{$month} {
      background: linear-gradient($linear-gradient-contact-section-bg), url("../img/#{$imagefolder}/640.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }

    @media (min-width: 992px) {
      .contact-section-bg.contact-section-bg-#{$month} {
        background: linear-gradient($linear-gradient-contact-section-bg), url("../img/#{$imagefolder}/1380.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
      }
    }

    .header-bg.header-bg-#{$month} {
      background: linear-gradient($linear-gradient-header-bg), url("../img/#{$imagefolder}/640.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }

    @media (min-width: 992px) {
      .header-bg.header-bg-#{$month} {
        background: linear-gradient($linear-gradient-header-bg), url("../img/#{$imagefolder}/1380.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
      }
    }
  }  
}





/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); 
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v12-latin-500.woff2') format('woff2'), 
       url('../fonts/montserrat-v12-latin-500.woff') format('woff'); 
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a:focus{
  outline: none;
}

b,
strong {
  font-weight: 500; 
}

.text-white a {
  color: #fd7e14;
  transition: color .5s;
  font-weight: 500;
}

.text-white a:focus, 
.text-white a:hover {
  text-decoration: none;
  color: white;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-gray {
  background-color: #eeeeee !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

.noscript{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: red;
  color: white;
  display: block;
  padding: .25rem;
  text-align: center;
  font-size: 1.25rem;
}



#mainnav {
  min-height: 58px;
  background-color: #fff;
  font-weight: 500;
  letter-spacing: 0.0625em;
}

#mainnav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: black;
  border: 1px solid black;
}

#mainnav .navbar-toggler:focus {
  outline: none;
}

#mainnav .brand {
  color: #161616;
  font-size: 1.5em; /*  */
  padding: .5rem 1rem; /*  */
  outline: none;
}

#mainnav .nav-link {
  color: #161616;
  font-size: 1em; /*  */
  padding: .75rem 1rem; /*  */
  margin: 0 1rem 0 0;
  outline: none;
}

@include media-breakpoint-up(lg) {

  #mainnav {
    padding-top: 35px;
    padding-bottom: 35px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainnav .brand {
    transition: all 0.3s;
  }

  #mainnav .brand {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0px 0px 8px black;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  #mainnav .nav-link {
    transition: none;
    position: relative;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  #mainnav.navbar-shrink .nav-link:after {
    height: 4px;
    width: 0%;
    content: "";
    background: #fd7e14;
    position: absolute;
    bottom: -9px;
    left: 0;
    transition: bottom 0.1s;
  }

  #mainnav.navbar-shrink .nav-link:hover:after,
  #mainnav.navbar-shrink .nav-link.active:after {
    animation-iteration-count: 1;
    animation: spread .4s forwards;
    bottom: -5px;
    //transition: bottom 0.1s;
  }

  @keyframes spread {
    0% {
      left: 49%;        
      width: 2%;
    }

    50% {
      left: 25%;
      width: 50%;
    }
    
    100% {
      left: 0%;
      width: 100%;
    }
  }

  #mainnav .nav-link {
    text-shadow: 0px 0px 4px black;
    color: rgba(255, 255, 255, 0.85);
  }

  #mainnav .nav-link:hover,
  #mainnav .nav-link:active {
    color: rgba(255, 255, 255, 1);
  }

  #mainnav.navbar-shrink {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
  }

  #mainnav.navbar-shrink .brand {
    color: #161616;
    text-shadow: none;
    border-radius: none;
    background-color: transparent;
    font-size: 1.25em; /*  */
    padding: .75rem 1rem; /*  */
  }

  #mainnav.navbar-shrink .nav-link {
    color: #161616;
    text-shadow: none;
    transition: all .5s;
    border-radius: none;
    background-color: transparent;
    outline: none;
  }

  #mainnav.navbar-shrink .nav-link:hover,
  #mainnav.navbar-shrink .nav-link:active {
    color: #fd7e14;
  }
}


.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: .25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
  padding: 0.25rem 1rem !important;
  text-decoration: none;
}

.btn-primary {
  background-color: #fd7e14;
  color: white;
  transition: background-color .75s;
}

.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active {
  background-color: #000;
  color: white;
}

.btn-big{
   padding: 1.25rem 3rem !important; 
}

.btn-small {
  padding: 0.45rem 1.25rem !important;
  font-size: 80% !important;
}



.about-section {
  padding-top: 8rem;
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}



@include media-breakpoint-up(lg) {
  .header-bg {
    height: 100vh;
    padding: 0;
    background-color: rgba(22, 22, 22, 0.25);
  }
}

.contact-section-bg{
  background-color: rgba(22, 22, 22, 0.25);
}

@include media-breakpoint-up(lg) {

  .contact-section {
    padding: 12rem 0;
  }

  .contact-section-bg{
    background-color: rgba(22, 22, 22, 0.25);
  }
}



@include set-bg(
  $bg, 
  $linear-gradient-contact-section-bg, 
  $linear-gradient-header-bg);


.profile-section {
  padding: 10rem 0;
}

.profile-section .featured-text {
  padding: 2rem;
}

@include media-breakpoint-up(lg) {

  .profile-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.25rem solid #fd7e14;
  }
}

.profile-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@include media-breakpoint-up(lg) {

  .profile-section .project-text {
    padding: 5rem;
  }
  .profile-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}

.contact-section {
    padding: 14rem 0;
}


// bg section
.header-bg {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
}

footer {
    padding: 6rem 0;
}



// navbar demo pages
#mainNavsub.navbar-light {
  background-color: #fff;
}

#mainNavsub.is-hidden {
    position: fixed;
    top: -3.5rem;
    transition: all 0.85s;
    border-bottom: 1px solid #fd7e14;
    opacity: 0;
}

#mainNavsub.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    top: 0;
    transition: all 0.35s;
    border-bottom: 1px solid #eeeeee;
    opacity: 1;
}  


#totop {
  background-color: $orange;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0.625rem 0.8215rem 0.5rem 0.8215rem;
  border-radius: 0.25rem;
  opacity: .9;
  transition: all .4s ease 0s;
  z-index: 1000;
}

#totop.off{
  opacity: 0;
  right: -60px;
}




/* 


  <a href="#" class="btn btn-small btn-effect"><span class="btn-effect-text"><span class="icon icon-chevron-right">Demo</span></span></a>



.btn-effect{
  position: relative;
  &::before{
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
  }

  & .btn-effect-text{
    color: white;
    // check out mdn docs for different types of blend modes. 
    mix-blend-mode: difference;
  }
  &:hover{
    &::before{
      background: black;
      width: 100%;
    }
  }
  
}


  


<div class="spinner"></div>

$color:      #ffffff;
$size:       32px;
$speed:      0.75s;
$thickness:  6px; // Odd numbers created a "wobble" effect.

@keyframes rotate-forever {
  0%    { transform: rotate(0deg) }
  100%  { transform: rotate(360deg) }
}

.spinner {
  animation-duration: $speed;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  width: $size;
  height: $size;
  border: $thickness solid $color;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

*/


