
if on and off is not in te same code context, it does not work

on in function 
off not in function 

off does not work


<a href="https://stackoverflow.com/questions/1515069/check-if-event-exists-on-element">https://stackoverflow.com/questions/1515069/check-if-event-exists-on-element</a>

<a href="https://code.i-harness.com/en/q/659ac0">https://code.i-harness.com/en/q/659ac0</a>


<a href="https://jqueryhouse.com/jquery-on-method-the-issue-of-dynamically-added-elements/">https://jqueryhouse.com/jquery-on-method-the-issue-of-dynamically-added-elements/</a>

function log1(e){
  console.log(e.target);
  console.log(&#39;loged 1&#39;);
}

function log2(e){
  console.log(e.target);
  console.log(&#39;loged 2&#39;);
}


//$( document ).ready(function() {
  // $(document).on( &#39;click&#39;, &#39;#trigger&#39;, log1 );
    $(&#39;#container-1&#39;).on( &#39;click&#39;, &#39;#trigger&#39;, log1 );

    // later dom manipulation
$(&#39;#container-1&#39;).append(&#39;<button id="trigger">trigger 1</button>&#39;);


// does not work !!!  $(document).off( events [, selector ] [, handler ] )
//$(document).off( &#39;click&#39;,&#39;#trigger&#39; , log1 )



// does  work !!!  $(&#39;#container-1&#39;).off(( events [, selector ] [, handler ] )
//$(&#39;#container-1&#39;).off( &#39;click&#39;,&#39;#trigger&#39; , log1 )

// does  work !!! 
 $(&#39;#container-1&#39;).off();


console.log($._data(document.getElementById(&#39;container-1&#39;), &quot;events&quot;)!= null);
// in all cases false
//console.log($._data(document.getElementById(&#39;trigger&#39;), &quot;events&quot;)!= null);





//});



$(document).delegate( &#39;#trigger-1&#39;, &#39;click&#39;, log2 );

// later dom manipulation
$(&#39;body&#39;).append(&#39;<button id="trigger-1">trigger 2</button>&#39;);
$(document).undelegate( &#39;#trigger-1&#39; , &#39;click&#39;, log2 )

console.log($._data(document.getElementById(&#39;trigger-1&#39;), &quot;events&quot;)!= null);



<a href="https://www.tutorialspoint.com/online_jquery_editor.php">https://www.tutorialspoint.com/online_jquery_editor.php</a>
$(document).ready(function(){

     $(&quot;#demo&quot;).click(function() {
          //alert(&quot;Does event exists? - &quot;+hasEvents);
     });

     var events = $._data(document.getElementById(&#39;demo&#39;), &quot;events&quot;);
     var hasEvents = (events != null);
     console.log(&quot;Does event exists? - &quot;+hasEvents);
     console.log($._data(document.getElementById(&#39;demo&#39;), &quot;events&quot;));
});
