#mainNavsub.navbar-light {
  background-color: #fff;
}

.paging-nav{
  display: block; 
  margin: .5rem  0;
}

ul#gallery{
  list-style: none;
  margin: 1rem 0 1rem 0;
  padding:0;
  display: block;
}

#gallery li{
  display: inline-block; 
  margin: .5rem .5rem 0 0;
  width: 5rem;
  height: 5rem;
  background-color: rgba(22, 22, 22, 0.8);
  text-align: center;
  line-height: 5rem;
  color: white;
  font-size: 1.6rem;
}



.svg-inline .angle-up{

}

svg:not(:root).svg-inline {
    overflow: visible;
}
.svg-inline.w-10 {
    width: 1rem;
}

.svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

#mainNavsub.is-hidden {
    position: fixed;
    top: -3.5rem;
    transition: top 0.75s;
    border-bottom: 1px solid #fd7e14;
}

#mainNavsub.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    top: 0;
    transition: top 0.75s;
    border-bottom: 1px solid transparent;
}  
