button{
  border: none;
  color: white;
  padding: .25rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: black;
  font-size: 1rem;
}


ul#gallery{
  list-style: none;
  margin: 1rem 0 1rem 0;
  padding:0;
  display: block;
}

#gallery li{
  display: inline-block; 
  margin: .5rem .5rem 0 0;
  width: 6rem;
  height: 6rem;
  background-color: rgba(22, 22, 22, 0.8);
  text-align: center;
  line-height: 6rem;
  color: white;
  font-size: 2rem;
}

.paging-nav ol,   
.paging-nav ul,
#paging-nav ul{
  overflow: hidden;
  list-style: none;
  margin: 2rem 0 1rem 0;
  padding: 0;
}

.paging-nav li,
#paging-nav li{
  float: left;
  cursor: pointer;
  margin: 0 .5em 0 0;
}

.paging-nav a,
#paging-nav a{
  display: block;
  cursor: pointer;
  height: 1.6rem;
  width: 1.6rem;
  border: 1px rgba(22, 22, 22, 0.8) solid;
  line-height: 1.6rem;
  text-align: center;
  color: rgba(22, 22, 22, 0.8);
  text-decoration: none;
  font-size: 1rem;
}

.paging-nav a:focus,
#paging-nav a:focus{ 
  outline: none; 
}

.paging-nav .active a,
#paging-nav .active a{
  border-color: rgba(22, 22, 22, 0.8);
  background-color: rgba(22, 22, 22, 0.8);
  color: white;
}
